/*-- scss:defaults --*/
// Base document colors
$link-color: #dadada;
$link-color-hover: #dadada;
$link-color-hover-toc: #5a1d00;
$navbar-bg: #e70000bb;
$navbar-border-color: $gray-800;
$body-bg: #0a0000;
$body-color: #f7f7f7;
$headings-color: #e4e4e4;
$subtitle-color: #c9c8c8;
$toc-title: #e4e4e4;
