/*-- scss:defaults --*/
// Base document colors
$link-color: #203447;
$link-color-hover: #0a2239;
$link-color-hover-toc: #e3eaf0;
$navbar-bg: #ffffff;
$navbar-border-color: $gray-500;
$subtitle-color: #575656;
$body-color: #161616;
$toc-title: #020202;
